/* Navbar*/
#navbarNavAltMarkup {
  font-family: 'Source Sans Pro',sans-serif;
  margin-right: 20px;;
  font-weight: bold;
  font-size: 20px;
  position: static;
}
#iconlog{
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.navbar {
  background-color: #7ADFA9;
  position: static;
}

/* Dark Overlay Gambar */
#gambar {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url("../images/pharmacy 1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}

h1, h4{
  font-family: 'Source Sans Pro',
  sans-serif;
}

.card-home{
  background-color: #4DA8AB;
}
/* Footer */

#footer{
  background-color: #666666;
  height: 50px;
}
.btnGoogle{
  background-color: rgb(235, 59, 59);
}
.btnGithub{
  background-color: rgb(104, 104, 136);
}